{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
{% endblock %}

{% block title %} Your Daily Collection of Facts {% endblock %}


{% block content %}
{% if posts %}

<h2> Some facts to keep your Buffer Full!! </h2>

{% for url, content in posts.iteritems() %}

<p>
	{{content|e}} -via <a href = "{{url|e}}">{{url|e}} </a>
	<br>
	<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="vertical" data-url = {{url|e}} data-text= "{{content|e}}" >Buffer </a>
	<script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>

</p>
<p>
	
</p>

{% endfor %}

{% else %}

  <h2> No Facts Today, sorry! </h2>

{% endif %}
{% endblock %}